body
{
    position:relative;
}
input[type=deleteButton]:hover
{
    cursor:pointer;
    background-color: #2376BC;
    border: 1px solid #FFFFFF;
}
input[type=smallButton]:hover
{  
    cursor:pointer;
    background-color: #2376BC;
    border: 1px solid #FFFFFF;
}
input[type=refresh]:hover
{
    cursor:pointer;
    background-color:  #2376BC;
    border: 1px solid #FFFFFF;
}
h1
{
    margin-left : 15px;
    font-family: "Segoe UI Light","Segoe UI",Tahoma,sans-serif;
    font-size: medium;
    text-decoration-color:#4ec724;
}
h4
{
    margin-left : 10px;
    font-family: "Segoe UI Light","Segoe UI",Tahoma,sans-serif;
    font-size: large;
}
div#WordCount, div#Requirements, div#References, div#Structure
{
	margin-left: 15px;
    font-family: "Segoe UI Light","Segoe UI",Tahoma,sans-serif;
}
div#header
{
	width: 100%;
	height: 50px;
	padding-top: 15px;
	background-color: #2376BC;
	margin-bottom: 10px;
}
div#buttons
{
	text-align: center;
}
span#category
{
	margin-left: 20px;
	font-size: 24px;
	color: #FFFFFF;
}
menu
{
	width: 100%;
	height: 50px;
}
input[type=button]
{
	width: 40%;
	height: 30px;
	max-width: 500px;
	border: 1px solid #2376BC;
    background-color: #2376BC;
    color: #FFFFFF;
}
li
{
    margin-right: 10px;
    float: right;
}
input[type=deleteButton]
{
    margin-right: 10px;

    text-align: center;
	float: right;
    width: 20px;
	height: 20px;
	max-width: 20px;
	border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
    color: #FFFFFF;
    font-size: small;
    line-height: 70%;
    
}
input[type=smallButton], input[type=refresh]
{
    margin-right: 10px;
	float: right;
    width: 30px;
	height: 30px;
	max-width: 500px;
	border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
    color: #FFFFFF;
}
input[type=checkbox]
{
	float: right;
    margin-right: 10px;
    height: 18px;
    width: 18px;

}
html {
    overflow-y: scroll; 
}

