body
{
    position:relative;
}
input[type=deleteButton]:hover
{
    cursor:pointer;
    background-color: #2376BC;
    border: 1px solid #FFFFFF;
}
input[type=smallButton]:hover
{  
    cursor:pointer;
    background-color: #2376BC;
    border: 1px solid #FFFFFF;
}
input[type=backButton]:hover
{  
    cursor:pointer;
    background-color: #2376BC;
    border: 1px solid #FFFFFF;
}
input[type=refresh]:hover
{
    cursor:pointer;
    background-color:  #2376BC;
    border: 1px solid #FFFFFF;
}
input[type=menuButton]:hover
{
    cursor:pointer;
    background-color:  #2376BC;
    border: 1px solid #FFFFFF;
}
h1
{
    margin-left : 15px;
    font-family: "Segoe UI Light","Segoe UI",Tahoma,sans-serif;
    font-size: medium;
    text-decoration-color:#4ec724;
    color: #2376BC;
    font-weight:500;
}
h4
{
    margin-left : 10px;
    font-family: "Segoe UI Light","Segoe UI",Tahoma,sans-serif;
    font-size: large;
    color: #2376BC;
    font-weight:500;
}

div1 {    
      padding-left: 10px;  
    } 

li {    
        margin-left : 20px; 
    } 

div#WordCount, div#Requirements, div#References, div#Structure, div#KeyWords, div#Books
{
	margin-left: 15px;
    font-family: "Segoe UI Light","Segoe UI",Tahoma,sans-serif;
    
}
div#header
{
	width: 100%;
	height: 50px;
	padding-top: 15px;
	background-color: #2376BC;
	margin-bottom: 10px;
    margin-right: 10%;
}
ul#mylist{
    padding-left:15px;
    margin-left:15px;
    float:left;
   
}
li{
    
}
div#buttons
{
	text-align: center;
}
span#category
{
	font-size: 24px;
    margin-left: 25%;
	color: #FFFFFF;
    text-decoration-color:#4ec724;
}
div#menu
{
	width: 100%;
    margin-right: 25%;
	height: 50px;
    margin-top: 15%;
    font-family: "Segoe UI Light","Segoe UI",Tahoma,sans-serif;
    text-decoration-color:#4ec724;
    text-align: center;
    font-size:large;
}
input[type=button]
{
	width: 40%;
	height: 30px;
	max-width: 500px;
	border: 1px solid #2376BC;
    background-color: #2376BC;
    color: #FFFFFF;
}

input[type=deleteButton]
{
    margin-right: 10px;

    text-align: center;
	float: right;
    width: 20px;
	height: 20px;
	max-width: 20px;
	border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
    color: #FFFFFF;
    font-size: small;
    line-height: 70%;
    
}
input[type=smallButton], input[type=refresh]
{
    margin-right: 10px;
	float: right;
    width: 30px;
	height: 30px;
	max-width: 500px;
	border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
    color: #FFFFFF;
}
input[type=backButton]
{
    margin-left: 5%;
	float: left;
    width: 30px;
	height: 30px;
    font-size: large;
    font-weight: 900;
    text-align: center;
	max-width: 500px;
	border: 1px solid #2376BC;
    background-color: #2376BC;
    color: #FFFFFF;
}
input[type=menuButton]
{
    text-align: center;
    width: 50%;
	height: 60px;
	max-width: 500px;
	border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
    color: #FFFFFF;
    font-size: large;
    margin-top: 10%;

}
input[type=checkbox]
{
	float: right;
    margin-right: 10px;
    height: 18px;
    width: 18px;

}
html {
    overflow-y: scroll; 
}

